HOST="changeit"
SSH_KEY="changeit"
SSH_PUBLIC_KEY="changeit"
USER="changeit"
TELEGRAM_CHAT_ID="changeit"
TELEGRAM_BOT_TOKEN="changeit"
DOCKER_USERNAME="changeit"
DOCKER_PASSWORD="changeit"
YC_TOKEN="changeit"
YC_FOLDER_ID="changeit"
ACCESS_KEY="changeit"
SECRET_KEY="changeit"
TF_STATE_BUCKET="changeit"
