## Настройки сервера ##
HOST="changeit"
SSH_KEY="changeit"
SSH_PUBLIC_KEY="changeit"
USER="changeit"

## Настройка telegram bot ##
TELEGRAM_CHAT_ID="changeit"
TELEGRAM_BOT_TOKEN="changeit"

## Настройка docker hub ##
DOCKER_USERNAME="changeit"
DOCKER_PASSWORD="changeit"

## Настройка yandex cloud ##
YC_KEY_JSON="changeit"
YC_FOLDER_ID="changeit"
YC_CLOUD_ID="changeit"
ACCESS_KEY="changeit"
SECRET_KEY="changeit"
